services:
  satsuki:
    image: "ghcr.io/being24/satsuki:latest"
    volumes:
      - ./data:/workspaces/Satsuki/data
      - ./log:/workspaces/Satsuki/log
    env_file:
      - ./.env
    restart: always
