aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
colorful==0.5.4
discord-sentry-reporting==2.0.4
discord.py==1.4.1
discosnow==0.0.4
feedparser==6.0.1
future==0.18.2
geoip2==4.0.2
idna==2.10
idna-ssl==1.1.0
lxml==4.5.2
maxminddb==2.0.3
multidict==4.7.6
numpy==1.19.2
pandas==1.1.2
prettyprinter==0.18.0
pycodestyle==2.6.0
Pygments==2.7.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
sentry-sdk==0.17.6
six==1.15.0
soupsieve==2.0.1
timezones==2.0.7
typing-extensions==3.7.4.3
urllib3==1.25.10
websockets==8.1
yarl==1.5.1
zenhan==0.5.2
